@using MvcCadastroContatos.Enum
@model UsuarioModel
@{
    ViewData["Title"] = "Editar Contato";
}

<div class="text-center">
    <h1 class="display-4">Cadastro de Usuário</h1>
</div>

<form asp-controller="Usuario" asp-action="Criar2" method="post">
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome do contato">
    </div>

    <div class="form-group">
        <label for="login">Login</label>
        <input type="text" asp-for="Login" class="form-control" placeholder="Digite seu Login">
    </div>

    <div class="form-group">
        <label for="Email">Email</label>
        <input type="text" asp-for="Email" class="form-control" placeholder="Digite seu Email">
    </div>

    <div class="form-group">
        <label for="Senha">Senha</label>
        <input type="password" asp-for="Senha" class="form-control" placeholder="Digite sua Senha">
    </div>

    <div class="form-group">
        <label for="Perfil" class="mb-2">Perfil</label>
        <select asp-for="Perfil" class="form-control">
            <option value="@EnumUusuario.Admin">Administrador</option>
            <option value="@EnumUusuario.Padrao">Padrão</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary mt-4">Adicionar</button>
    <a class="btn btn-secondary mt-4" asp-controller="Usuario" asp-action="Login" role="button">Voltar</a>
</form>
