@model UsuarioModel

<div class="container-fluid">
    <h3 class="navbar">Cadastro De Contatos</h3>
    <a class="btn  d-block text-primary " asp-controller="Usuario" asp-action="Index" role="button">Usuarios</a>
    <a class="btn  d-block text-primary " asp-controller="Contato" asp-action="Index" role="button">Contatos</a>
    <a class="btn btn-dark  d-block " asp-controller="Login" asp-action="Sair" role="button">Sair</a>
</div>





